* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

header,
footer {
  height: 100px;
  border: 2px solid rgb(24, 24, 24);
  border-right: 4px solid rgb(24, 24, 24);
  border-left: 4px solid rgb(24, 24, 24);
  clear: both;
}

header + div {
  height: 200px;
  border: 2px solid rgb(24, 24, 24);
  clear: both;
  border-right: 4px solid rgb(24, 24, 24);
  border-left: 4px solid rgb(24, 24, 24);
}

section div {
  height: 200px;
  border: 2px solid rgb(24, 24, 24);
  float: left;
}

section div:nth-child(1) {
  width: 40%;
  border-left: 4px solid rgb(24, 24, 24);
}

section div:nth-child(2) {
  width: 60%;
  border-right: 4px solid rgb(24, 24, 24);
}

header {
  border-top: 4px solid rgb(24, 24, 24);
}

footer {
  border-bottom: 4px solid rgb(24, 24, 24);
}
