* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

body {
  background-color: rgb(50, 50, 50);
}

header,
footer {
  height: 100px;
  border: 1px solid gray;
  clear: both;
}

section {
  height: calc(100vh - 200px);
  width: calc(50% / 3);
  border: 1px solid gray;
  float: left;
}

#main {
  width: 50%;
  background-color: rgb(255, 130, 255);
}

@media screen and (max-width: 600px) {
  section {
    background-color: rgb(118, 233, 118);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  section {
    background-color: rgb(123, 196, 245);
    width: calc(100% / 3);
  }
  #main {
    display: none;
  }
}
