* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

header,
footer {
  height: 100px;
  border: 1px solid gray;
  clear: both;
}

section {
  height: calc(100vh - 200px);
  width: calc(50% / 3);
  border: 1px solid gray;
  float: left;
}

#main {
  width: 50%;
}
